<main>
    <section id="contact-section">
        <h1>J. Patrick Fulton</h1>
        <div class="divider"></div>

        <div class="column-container">
            <div class="column">
                <a href="mailto:jpatrick.fulton@gmail.com">jpatrick.fulton@gmail.com</a>
                <br />
                <a href="tel:+13129896512">(312) 989-6512</a>
            </div>
            <div class="column-right">
                <a href="https://www.linkedin.com/in/jpatrickfulton">https://www.linkedin.com/in/jpatrickfulton</a>
                <br />
                <a href="https://github.com/jpfulton">https://github.com/jpfulton</a>
                <br />
                <span>Chicago, IL</span>
            </div>
        </div>
    </section>

    <section *ngIf="workHistoryList.length !== 0" id="work-experience-section">
        <h1>Work Experience</h1>
        <div class="divider"></div>

        <app-work-history-item 
            *ngFor="let workHistory of workHistoryList"
            [workHistory]="workHistory">
        </app-work-history-item>

    </section>

    <section *ngIf="educationList.length !== 0" id="education-section">
        <h1>Education and Certification</h1>
        <div class="divider"></div>

        <app-education-item
            *ngFor="let education of educationList"
            [education]="education">
        </app-education-item>
    </section>
</main>