@use '@angular/material' as mat;

@import '/src/styles/variables';
@import '/src/styles/mixins';

.work-history {
    display: flexbox;
    padding: 10px;
    border-radius: 15px;
    @include mat.elevation-transition();
    @include mat.elevation(0);

    &:hover {
        @include mat.elevation(5);
    }

    @include responsive( $med ) {
        display: flex;
    }

    .work-history-date-range {
        width: 120px;
        vertical-align: top;
    }

    .work-history-body {
        width: 100%;

        .work-history-title {
            font-weight: bold;
        }

        .work-history-org {
            font-style: italic;
        }

        .work-history-bullet-list ol {
            list-style: disc;
            padding-left: 15px;

            @include responsive( $med ) {
                padding-left: 40px;
            }
        }

        .work-history-skill-list {
            text-align: right;
            font-style: italic;

            ol {
                li {
                    display: inline;
                    padding-left: 5px;
                }
            }
        }
    }
}