<mat-toolbar id="header-toolbar" color="primary">
    <a mat-icon-button class="home-button" routerLink="/" routerLinkActive="active">
        <mat-icon>home</mat-icon>
    </a>

    <span class="toolbar-spacer"></span>

    <a mat-icon-button class="github-button" href="https://github.com/jpfulton/">
        <mat-icon>
            <img alt="GitHub" src="/assets/images/github-circle-white-transparent.svg" />
        </mat-icon>
    </a>

    <a mat-icon-button class="linkedin-button" href="https://www.linkedin.com/in/jpatrickfulton/">
        <mat-icon>
            <img alt="LinkedIn" src="/assets/images/linkedin.svg" />
        </mat-icon>
    </a>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/cookiepolicy" routerLinkActive="active">
            <mat-icon>cookie</mat-icon>
            <span>Cookie Policy</span>
        </a>
        <a mat-menu-item routerLink="/privacy" routerLinkActive="active">
            <mat-icon>privacy_tip</mat-icon>
            <span>Privacy Policy</span>
        </a>
    </mat-menu>
</mat-toolbar>
