@use "sass:map";
@use "../../../styles/themes";

table {
    width: 100%;

    tr.detail-row {
        height: 0;
    }
    
    tr.user-row td {
        border-bottom-width: 0;
    }

    .detail-container {
        padding-top: 10px;
        padding-bottom: 10px;

        table {
            border: 1px solid whitesmoke;
            table-layout: auto;
            thead {
                font-weight: bold;
                
                th {
                    border-bottom: 1px solid whitesmoke;
                    padding: 0.5rem;
                }

                .id-widget-column {
                    min-width: 80px;
                }

                .absorbing-column {
                    width: 100%;
                }

                .align-right {
                    text-align: right;
                }
            }
            
            tbody {
                td {
                    border-bottom: 1px solid whitesmoke;
                    padding: 0.5rem;
                }
            }
        }

        .table-divider {
            margin: 1rem;
        }
    }

    .id-widget {
        display: inline;

        .id-container {
            display: inline-block;
            max-width: 4em;
            max-height: 1em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .small-icon-button {
            width: 24px !important;
            height: 24px !important;
            padding: 0px !important;
            display: inline !important;
            align-items: center;
            justify-content: center;
         
            & > *[role=img] {
               width: 16px;
               height: 16px;
               font-size: 16px;
         
               svg {
                  width: 16px;
                  height: 16px;
               }
            }
         
            .mat-mdc-button-touch-target {
               width: 24px !important;
               height: 24px !important;
            }
         }
    }
}

/*
.darkMode {
    
    tr.user-row:not(.expanded-row):hover {
        background: map.get(themes.$ng-resume-dark-primary, 700);
    }

    tr.user-row:not(.expanded-row):active {
        background: map.get(themes.$ng-resume-dark-primary, 900);
    }
}

tr.user-row:not(.expanded-row):hover {
    background: whitesmoke;
}

tr.user-row:not(.expanded-row):active {
    background: #efefef;
}
*/