@import '/src/styles/variables';
@import '/src/styles/mixins';

.divider {
    width: 100%;
    display: block;
    border-top: 2px solid black;
    margin-top: 4px;
    margin-bottom: 4px;
}

main {
    padding: 10px;
}

section {
    margin-bottom: 10px;

    h1 {
        font-size: 1em;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .column-container {
        display: flexbox;

        @include responsive( $med ) {
            display: flex;
        }

        .column {
            text-align: left;
        }

        .column-right {
            width: 100%;

            @include responsive( $med ) {
                text-align: right;
            }
        }
    }
}

#work-experience-section, #education-section {
    @include responsive( $med ) {
        padding-left: 40px;
        padding-right: 40px;
    }
}