@use "sass:map";
@use 'styles/themes';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import 'styles/spinner.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes(themes.$ng-resume-theme);

// dark mode theming
.darkMode {
  @include mat.all-component-colors(themes.$ng-resume-dark-theme);

  a, a:hover, a:visited {
    text-decoration: none;
    color: map.get(themes.$ng-resume-accent, 200);
  }

  .divider {
      width: 100%;
      display: block;
      border-top: 2px solid map.get(themes.$ng-resume-primary, 100);
      margin-top: 4px;
      margin-bottom: 4px;
}
}


html, body { 
  height: 100%; 
}

body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; 

  // cookie consent widget style overrides
  .cc-revoke {
    @include mat.elevation(20);
    background-color: map.get(themes.$ng-resume-accent, 500) !important;
  }
  .cc-window {
    @include mat.elevation(20);
    background-color: map.get(themes.$ng-resume-accent, 500) !important;

    .cc-highlight {
      background-color: map.get(themes.$ng-resume-accent, 700) !important;

      .cc-allow {
        background-color: map.get(themes.$ng-resume-accent, 900) !important;
        color: white !important;

        &:hover {
          text-decoration: underline !important;
        }
      }
    }
  }
}

a, a:hover, a:visited {
    text-decoration: none;
    color: map.get(themes.$ng-resume-accent, 500);
}

.divider {
    width: 100%;
    display: block;
    border-top: 2px solid map.get(themes.$ng-resume-primary, 900);
    margin-top: 4px;
    margin-bottom: 4px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
